#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
}
section {
    margin-bottom: 50px;
    padding: 50px 50px 50px 50px;
    height: 40%;
    width: 100%;
    text-align: center;
   
    

}

#s1{
    text-align: center;
    background-color: #ccc;
}





.item-card {
    border: 1px solid #f79595;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin: auto;
}

.payment-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}